<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/layout}">
<head>
    <title>main</title>
</head>

<!-- 페이지의 개별적인 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="assets/css/main.css" />
</th:block>

<!-- Main -->
<div id="main" layout:fragment="content">

    <div class="inner">
        <header>
            <h1>오늘 점심은 ? <br/>
                인근 구내식당 메뉴가 궁금하다면 <a href="#footer">구독</a> 해 주세요.</h1>
            <p>매일 11:30에 인근 구내식당 메뉴를 알람으로 받아 보세요!</p>
        </header>
        <section class="tiles">
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/guro.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>guro</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/Gwanggyo.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>Gwanggyo</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/Pangyo.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>Pangyo</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/Gangnam.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>Gangnam</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/Seocho.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>Seocho</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/Yangjae.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>Yangjae</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/Yeouido.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>Yeouido</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/Yeongdeungpo.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>Yeongdeungpo</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style">
                <span class="image">
                    <img th:src="@{/images/Jongro.jpg}" alt=""/>
                </span>
                <a href="generic.html">
                    <h2>Jongro</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
        </section>
    </div>

</div>

<!-- 페이지의 개별적인 js -->
<th:block layout:fragment="js">
    <script src="assets/js/main.js"></script>
</th:block>


</html>